.about-us {
  text-align: center;

  &__heading {
    font-size: convertToRem(24px);
    font-family: "secondary font";
  }

  &__text {
    font-size: convertToRem(16px);

    &--first {
      margin-top: 0;
    }

    &--last {
      margin-bottom: 0;
    }
  }

  &__svg {
    fill: rgb(var(--primary-color));
    width: 32px;
    height: 24px;

    margin-top: var(--page-padding-top);
  }
}
@media screen and (min-width: 500px) {
.about-us {
  max-width: 60ch;
  margin-inline: auto;
}
}
